body{
	padding-left: 20px;
	background-image:url(f1.jpg)
	
}
h2{
	padding-left: 20px;
}


tr
{
background-color: white;
}

div
{
width: 500px;
margin-left : auto;
margin-right : auto;

}